@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/raleway/raleway-800.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/rubik/rubik-400.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/rubik/rubik-700.woff2") format(woff2);
  font-display: swap;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffff;
}

.visually-hidden {
  display: none;
}

.page-header {
  background-color: #FFE17F;
}

.page-footer {
  background-color: #444444;
  color: #ffff;
}

.navigation-item-input {
  font-size: 16px;
  line-height: 20px;
}

.navigation-item {
  list-style-type: none;
}

.search-button {
  text-align: center;
}

.navigation-link-info {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}

.front-item__header {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.sale-details {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
}

.sale-details h3 {
  font-size: 50px;
  line-height: 50px;
}

.sale-details__navigation-list {
  list-style-type: none;
}

.front-item__parametrs-number {
  font-size: 36px;
}

.front-item__parametrs-text {
  font-size: 16px;
}

.products-list {
  list-style-type: none;
}

.products-list li {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.add-info__text {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.about h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.about-companies-list {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.crossed-button {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.contacts h3 {
  font-weight: 700;
  font-size: 24px;
}

.contacts-address-text {
  font-style: normal;
}

.contacts-phone {
  color: #000000;
}

.subscription-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.subscription-submit-button {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-address {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
}

.footer-info-item {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  list-style-type: none;
}

.footer-contacts-phone {
  font-size: 16px;
  line-height: 20px;
  color: #ffff;
}


.inner-header-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs-item {
  list-style-type: none;
}

.breadcrumbs-link {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
}

.catalog-filters h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.control {
  font-size: 16px;
  line-height: 19px;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.product-card-price {
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  color: #000000;
}


.load-more-button {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination-link-control {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination {
  list-style-type: none;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  opacity: 0.3;
}

.footer-social-list {
  list-style-type: none;
}

.sale-details {
  background-color: #f0f0f0;
}

.add-info {
  background-color: #f0f0f0;
}

.subscription {
  background-color: #f0f0f0;
}
